.container-fluid{
    display:grid;
    place-items: center;
    background-color:#3949AB;
    height: 100vh;
}
.containerCategoria{
    display: grid;
    height: 30vmax;
}
.container-xl{
    display: grid;
    height: 30vmax;
    border-radius: 25px;
    box-shadow: 5px 10px 50px;
    background-color: #fff;
}

.btn{
    border-radius: 25px;
}

.container-sm{
    display: grid;
    place-items: center;
    height:  10vmax;
    border-radius: 25px;
    box-shadow: 5px 5px 50px;
    background-color: #fff;
    width: 40vmax;
    
}