.cadastrar-container{
    background-color:#3949AB;
    height: 100vh;
}

.cadastrar-container main {
    position: absolute;
    width: 1218px;
    height: 743px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    background-color: #3949AB;
    
    border: 1px solid #E6E9FA;
    box-sizing: border-box;
    border-radius: 24px;
}

.cadastrar-container #cadastrar strong{
 
    display: flex;
    justify-content: center;
    margin:10px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #343434;
}

.cadastrar-container #cadastrar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    position: absolute;
    width: 486px;
    height: 743px;
    left: 732px;

    border: 1px solid #E6E9FA;
    box-sizing: border-box;
    border-radius: 0px 24px 24px 0px;
}

.cadastrar-container #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.cadastrar-container #buttons{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cadastrar-container div button h6{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}

.cadastrar-container button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 358px;
    height: 40px;
    
    border-radius: 40px;
}

.cadastrar-container .primary{
    color: white;
    background: #3949AB;
}

.cadastrar-container .secondary{
    color: #3949AB;
    background:white;
}

.cadastrar-container .form-control{
    width: 358px;
    height: 40px;

    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 8px;

    margin: 10px 0px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #828282;

}

.cadastrar-container .form-chkbox{
    margin: 10px 0px;
    

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #828282;

}

.cadastrar-container main div img{
    position: absolute;
    left: 21.51%;
    right: 60.34%;
    top: 25.71%;
    bottom: 44.55%;
    height: 221px;
    width: 221px;
}

.cadastrar-container main div h4{
    position: absolute;
    width: 315px;
    height: 70px;
    left: 217px;
    top: 400px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 200%;

    text-align: center;

    color: #FFFFFF;    
}

.cadastrar-container main div h5{
    position: absolute;
    width: 315px;
    height: 70px;
    left: 217px;
    top: 440px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;

    text-align: center;

    color: #FFFFFF;
}